<a href="https://colab.research.google.com/github/jitubhai432/2001206098_ECE/blob/main/ECE_04_02_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=0b10100
y=100
z=0o215
u=0x12d
float_1=100.5
float_2=1.5e2
a=5+3.14j
print(x,y,z,u)
print(float_1,float_2)
print(a,a.imag,a.real)

20 100 141 301
100.5 150.0
(5+3.14j) 3.14 5.0

In [ ]:
a=23+5j
b=2+5.12j
c=a+b
print(c)

(25+10.120000000000001j)

In [ ]:
a=int(input('Enter 1st no ='))
b=int(input('Enter 2nd no ='))
c=a+b
print('c=',c)

Enter 1st no =12
Enter 2nd no =14
c= 26

In [ ]:
#using of /,// and ** in arithmetic operator
a=2
b=4
c=a/b
print(c)
d=a//b
print(c)
e=a**b
print(e)

0.5
0.5
16

In [1]:
a=5
b=2
print('a/b=',a/b)
print('a//b=',a//b)
print('a**b=',a**b)

a/b= 2.5
a//b= 2
a**b= 25

In [2]:
a=5
b=2
print('a/b=',a/b)
print('a//b=',a//b)
print('a**b=',a**b)
print('a<b=',a<b)
print('a>b=',a>b)

a/b= 2.5
a//b= 2
a**b= 25
a<b= False
a>b= True

In [3]:
#using logical operators
a=True
print('not A=',not a)
b=False
print('not B=',not b)

not A= False
not B= True

In [4]:
#Using Bitwise Operator
a=2
b=3
c=a<<b
print('a<<b=',c)

a<<b= 16

In [5]:
#Using IDENTITY OPERATOR (is and is not)
a=5
b=5
print('a is b',a is b)
print('a is not b',a is not b)
x='cse'
y='ece'
print('x is y',x is y)
print('x is not y',x is not y)

a is b True
a is not b False
x is y False
x is not y True

In [6]:
#Using Membership Operator (in and not in)
a='Hello ECE'
print('A in a=',a in 'A')

A in a= False

In [ ]:
#using if..elif statement
number=int(input("Enter the number?"))
if number==10:
  print("number is equals to 10")
  elif number==50:
    print("number is equal to 50")
    elif number==100:
      print("number is equal to 100")
      else:
        print("number is not equal to 10,50 or 100")

In [ ]:
num=int(input("enter the number?"))
if num%2 == 0:
  print("Number is even")